.search {
    margin: 80px auto;
    text-align: center;
}

.search input {
    height: 40px;
    width: 300px;
    margin-right: 10px;
}

.search button {
    height: 37px;
}

.search h1 {
    margin-bottom: 50px;
}