.dFlex {
    display: flex;
}

.tableWidth {
    width: 75% !important;
    margin: 0px auto;
    background-color: darkgray;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

.container {
    width:100%;
    margin: 0px auto;
    padding: 15px;
  }


.center {
    text-align: center;
    padding: 20px;
}