.dFlex {
    display: flex;
}

.tableWidth {
    width: 75% !important;
    margin: 0px auto;
    background-color: darkgray;
}

a {
    cursor: pointer;
}

.container {
    width:100%;
    margin: 0px auto;
    padding: 15px;
  }

body {
   background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
   color: lightblue !important;
   height: 100%;
}