.dFlexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.bio2 {
  text-align: center;
  vertical-align: top;
  width: 250px;
  margin-left: 20px;
}

.profileRight {
  width: 70%;
  margin: 0 auto;
}