.topCarousel {
    margin-bottom: 50px;
    background-color: black;
    padding: 50px;
}

.topCarousel img {
    height: 400px;
    object-fit: contain !important;
}

.albumCarousel {
    margin-bottom: 50px;
    background-color: black;
    padding: 50px;
}

.albumCarousel img {
    height: 200px;
    object-fit: contain !important;

}

.artistCarousel{
    background-color: black;
    padding: 50px;
}

.artistCarousel img {
    height: 200px;
    object-fit: contain !important;
}

.login {
    text-align: center;
    margin-top: 7%;
}

.login h4 {
    margin-right: 160px;
}

.login p {
    margin-top: 80px;
}

.login input {
    margin-top: 20px;
    padding-right: 60px;

}

.login button {
    margin-top: 60px;
}

.login img {
    height: 80px;
    width: 80px;
    margin-bottom: 70px;
}