.topCarousel {
    margin-bottom: 50px;
    padding: 50px;
    background-color: #484cb5;
}

.topCarousel img {
    height: 400px;
    object-fit: contain !important;
}

.albumCarousel {
    margin-bottom: 50px;
    padding: 50px;
    background-color: #484cb5;
}

.albumCarousel img {
    height: 200px;
    object-fit: contain !important;

}

.artistCarousel{
    padding: 50px;
    background-color: #484cb5;
}

.artistCarousel img {
    height: 200px;
    object-fit: contain !important;
}

.login {
    text-align: center;
    margin-top: 7%;
}

.login h4 {
    margin-right: 250px;
}

.login p {
    margin-top: 80px;
}

.login input {
    margin-top: 20px;
    padding-right: 60px;

}

.login button {
    margin-top: 60px;
}

.login img {
    height: 80px;
    width: 80px;
    margin-bottom: 70px;
}

.login label {
    margin-right: 20px;
}

.register {
    text-align: center;
    margin-top: 7%;
}

.register h4 {
    margin-right: 240px;
}

.register p {
    margin-top: 80px;
    margin-left: 80px;
}

.register input {
    margin-top: 20px;
    padding-right: 60px;

}

.register button {
    margin-top: 60px;
    margin-left: 220px;
}

.register img {
    height: 80px;
    width: 80px;
    margin-bottom: 70px;
}

.register label {
    margin-right: 20px;
}

.searchAlbum {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 760px;
}

.searchAlbum input {
    height: 40px;
    width: 300px;
    margin-right: 10px;
}

.searchAlbum button {
    height: 37px;
}

.searchAlbum h1 {
    margin-bottom: 50px;
}

.imgAlb{
    width: 200px;
    height: 200px;
}

.mag {
    margin-right: 20px;
}

.homeBody {
    background-color: #484cb5;
}

.searchArtist {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 760px;
}

.searchArtist input {
    height: 40px;
    width: 300px;
    margin-right: 10px;
}

.searchArtist button {
    height: 37px;
}

.searchArtist h1 {
    margin-bottom: 50px;
}

.imgResult {
    height: 185px;
    width: 185px;
}

