.topCarousel {
    margin-bottom: 50px;
    padding: 50px;
    background-color: #484cb5;
}

.topCarousel img {
    height: 400px;
    object-fit: contain !important;
}

.albumCarousel {
    margin-bottom: 50px;
    padding: 50px;
    background-color: #484cb5;
}

.albumCarousel img {
    height: 200px;
    object-fit: contain !important;

}

.artistCarousel{
    padding: 50px;
    background-color: #484cb5;
}

.artistCarousel img {
    height: 200px;
    object-fit: contain !important;
}

.loginBody{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  padding-bottom: 272px;
}

.login {
    text-align: center;
    margin-top: 7%;
    background-color: #7C8FA1;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 30%;
    border-radius: 10px;
    position: relative;
}

.login h4 {
    margin-right: 250px;
}

.login p {
    margin-top: 80px;
}

.login input {
    margin-top: 20px;
    padding-right: 60px;

}

.login button {
    margin-top: 60px;
}

.login img {
    height: 80px;
    width: 80px;
    margin-bottom: 70px;
}

.login label {
    margin-right: 20px;
}

.registerBody{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  padding-bottom: 272px;
}

.register {
  text-align: center;
  margin-top: 7%;
  background-color: #7C8FA1;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 30%;
  border-radius: 10px;
  position: relative;
}

.register h4 {
    margin-right: 240px;
}

.register p {
    margin-top: 80px;
    margin-left: 80px;
}

.register input {
    margin-top: 20px;
    padding-right: 60px;

}

.register button {
    margin-top: 60px;
    margin-left: 220px;
}

.register img {
    height: 80px;
    width: 80px;
    margin-bottom: 70px;
}

.register label {
    margin-right: 20px;
}

.searchAlbum {
    margin: 80px auto;
    text-align: center;
}

.searchAlbum input {
    height: 40px;
    width: 300px;
    margin-right: 10px;
}

.searchAlbum button {
    height: 37px;
}

.searchAlbum h1 {
    margin-bottom: 50px;
}

.imgAlb{
    width: 200px;
    height: 200px;
}

.mag {
    margin-right: 20px;
}

.homeBody {
    background-color: #484cb5;
}

.searchArtist {
    margin: 80px auto;
    text-align: center;

}

.searchArtist input {
    height: 40px;
    width: 300px;
    margin-right: 10px;
}

.searchArtist button {
    height: 37px;
}

.searchArtist h1 {
    margin-bottom: 50px;
}

.imgResult {
    height: 185px;
    width: 185px;
}

.displayCenter {
    width: 70%;
    margin: 10px auto;
}

.container {
    text-align: center;
    margin-top: 100px;
  }
  .spin {
    border: 3px solid #0D4B9F;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader2 {
    border: 3px solid #E0EDFF;
    width: 220px;
    height: 220px;
    position: relative;
    top: -216px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader3 {
    border: 3px solid #005CDC;
    width: 240px;
    height: 240px;
    position: relative;
    top: -452px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader4 {
    border: 3px solid #94B6E5;
    width: 260px;
    height: 260px;
    position: relative;
    top: -708px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotateZ(-360deg)
    }
    100% {
      transform: rotateZ(0deg)
    }
  }
  @keyframes rotate2 {
    0% {
      transform: rotateZ(360deg)
    }
    100% {
      transform: rotateZ(0deg)
    }
  }
  #text {
    color: #D6E3F6;
    font-family: Arial;
    font-size: 15px;
    position: relative;
    top: -857px;
  }

.dFlex {
    display: flex;
}

.centerText {
    margin-left: 20px;
}
.dFlexAlbum {
    display: flex;
    align-items: top;
}

.bgColor {
    /* background-color: #CCE9F6; */
    background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    color: white;
}

.tableBgColor {
    background-color: darkgray;
    text-align: center !important;
}

.tableWidth {
    width: 75% !important;
    margin: 0px auto;
    background-color: darkgray;
}

.boxcontainer{
    position: absolute;
  }
  
  .box {
    width: 1900px;
    height: 1256px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 5;
  }

  .box h1 {
    margin-bottom: 350px;
  }

  .bio {
    width: 55%;
    margin: 5px auto;
  }

  .artistSongsTable {
    background-color: white;
    text-align: center !important;
    align-items: left;
  }

  .scroll {
    --size: 150px;
  
    display: grid;
    grid-auto-flow: column;
    gap: calc(var(--gap) / 2);
    margin: 0;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    
    padding-inline: var(--gap);
    scroll-padding-inline: var(--gap);
    padding-block: calc(var(--gap) / 2);

    text-decoration: none;
    
  }

  .scroll picture {
    inline-size: 200px;
    block-size: 200px;
  }
  
  .scroll li {
    display: inline-block;
  }

  .scroll > li:last-of-type figure {
    position: relative;
  
  }

  .scroll a {
    text-decoration: none;
    color: black
  }

  .up {
    margin-top: 10px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    padding: 5px;
  }

  a {
    cursor: pointer;
  }